html{
  margin: 15px;
  min-width: 500px;
  }
  
a {
  color: gray;
  text-decoration: none;
  padding: 5px;
  display: flex;
  justify-content: right;
}

a:hover {
  color: orange;
}

#banner {
  border-bottom: 5px solid gray;
  border-radius: 5px;
  margin: 15px;
  padding: 15px;
}

#colorSig {
  color: orange;
}

#bold {
  text-decoration: bolder;
  font-size: 25px;
  color: orange;
}

h1 {
  color: orange;
}

#todaysProject {
  padding-bottom: 15px;
  border-bottom: 1px solid #5f5f5f;
  margin: 0 50px;
  text-align: center;
}

#projectLink {
  display: flex;
  justify-content: center;
}

#projectDisplay {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px 30px;
  
}
img{
  width: 200px;
  height: 200px;
  border: 2px solid gray;
  border-radius: 5px;
  margin-left: 30px;
  margin-right: 30px;
  box-shadow: orange 10px 5px;
}
